// Add Option Error
.add-option-error {
    color: $off-white;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
}

// Add Option 
.add-option {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-option__input {
    background: $dark-blue;
    // this tells the input form to grow
    // take the rest of the space available
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    color: $off-white;
    flex-grow: 1;
    margin: 0 0 $s-size 0;
    // margin-right: $s-size;
    padding: $s-size;
}

// css feature
// up until 45 rem apply these styles
// conditionally set up styles
@media (min-width: $desktop-breakpoint) {
    * {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 $s-size 0 0;
    }
}