// rem
// pixel with better support for accessibility 
// 1rem converts to 16px
// 16 pixel base * .625 = 10
// we can now work on a base 10 system
html {
    font-size: 62.5%;
}

body {
    background: $dark-blue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}